body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://thumbs.dreamstime.com/z/restaurant-menu-set-food-dishes-black-stone-background-top-view-183992631.jpg");
    background-color: #cccccc;
    margin: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 8vh;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav label {
    float: left;
    color: #f93a13;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #04AA6D;
}

.topnav a.active {
    color: #04AA6D;
}

h1 {
    color: black;
}

.column {
    height: 95vh;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

#middle-column {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.contain {
    width: 90%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 100%;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    border-radius: 4px;
    border: 1px solid #302d2d;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#card-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

#card-details {
    padding-left: 5%;
    padding-right: 5%;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: auto;
    margin: 5%;
    text-align: left;
    font-family: arial;
    display: flex;
    flex-direction: row;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    cursor: default;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 300px;
    font-size: 18px;
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}